<div class="footerf">
    <div class="containerf">
        <div class="footer-bar">
            <h2 class="hello">Powered by JFKongphop</h2>
            <br>
            <p>
                Etherscan is a Block Explorer and Analytics Platform for Ethereum, a decentralized smart contracts platform.
            </p>
        </div>
        <div class="service-console">
            <h2>Service</h2>
            <br>
            <div class="servicef">
                <a href="/contact"><button class="btn-service">Contact Us</button></a>
                <a href="/deploy"><button class="btn-service">Deploy Contract</button></a>
            </div>
        </div>
    </div>    
</div>